<h1>1 : Routing module</h1>
<ul>
    <li><a routerLink='login'>Login</a></li>
    <li><a routerLink='list'>List</a></li>
</ul>

<h1>2 : Group Routing</h1>
<ul>
    <p>Admin</p>
    <li><a routerLink='admin/login'>Login</a></li>
    <li><a routerLink='admin/list'>List</a></li>
</ul>
<ul>
    <p>User</p>
    <li><a routerLink='user/login'>Login</a></li>
    <li><a routerLink='user/list'>List</a></li>
</ul>


<h1>3 : lazy loading routing</h1>
<ul>
    <p>Person</p>
    <li><a routerLink='person/login'>Login</a></li>
    <li><a routerLink='person/list'>List</a></li>
</ul>
<ul>
    <p>Employee</p>
    <li><a routerLink='employee/login'>Login</a></li>
    <li><a routerLink='employee/list'>List</a></li>
</ul>
<router-outlet></router-outlet>
<h1>4 : lazy loading component</h1>
<button (click)="adminLoad()">Admin List</button><br><br>
<button (click)="userLoad()">User List</button>

<h1>5 : Template driven form with validations</h1>
<!-- string pattern : '[a-zA-Z]+$' -->
<form #UserForm='ngForm' (ngSubmit)='UserValues(UserForm.value)'>
    <input type="email" required #name='ngModel' ngModel email name="email" placeholder="Enter email"><br>
    <span *ngIf='name.invalid && name.touched' style="color: red;">Please enter valid input</span><br>

    <input type="password" required #password='ngModel' minlength="6" ngModel name="password"
        placeholder="Enter password"><br>
    <span *ngIf='password.invalid && password.touched' style="color: red;">Please enter valid input</span>
    <br>

    <button [disabled]='UserForm.invalid' type="submit">Submit</button>
</form>

<h1>6 : Reactive form</h1>

<form [formGroup]='loginform' (ngSubmit)='loginUser()'>
    <input type="text" name='username' placeholder="Enter name" formControlName='username' [ngModel]='obj.username'><br>
    <span *ngIf='user && user.invalid && user.touched' style="color: red;">Please enter valid input</span>
    <br>
    <input type="password" name='password' placeholder="Enter password" formControlName='password'
        [ngModel]='obj.password'><br>
    <span *ngIf='pass && pass.invalid && pass.touched' style="color: red;">Please enter valid input</span>
    <br>
    <button [disabled]='loginform.invalid' type="submit">Submit</button>
</form>

<h1>One-way Binding</h1>
<input [ngModel]="userName">
<p>{{ userName }}</p>

<h1>Two-way Binding</h1>
<input [(ngModel)]="userName">
<p>{{ userName }}</p>

<h1>[ngClass]</h1>
<input type="text" (blur)="onBlur()" [ngClass]="{'disabled-field': isDisabled}" [disabled]="isDisabled" />

<h1>[ngClass] 2 </h1>
<div [ngClass]="{'active': isActive, 'inactive': !isActive}">
    This div changes its class dynamically.
</div>
<button (click)="toggleClass()">Toggle Class</button>

<h1>ngAfterViewInit Example</h1>
<div #myDiv>This is a sample div</div>

<br>
<!-- <input type="text" (keyup)='chnageInp($event)'> -->
<!-- <input type="text" #peter [value]="inpVal" (keyup)='getVal(peter.value)'> -->
<input type="text" [(ngModel)]='inpVal'>
<p>{{inpVal}}</p>
<hr />
<app-child userName="peter"></app-child> 

<!-- <app-child (test)="parentComponent($event)"></app-child> -->
<h1>Custom pipe</h1>
<h4>{{phoneNumber | countrycode}}</h4>

<p appCustomHeading>Custom directive</p>


<div *ngIf="showChild">
    <app-child></app-child>
</div>
<button (click)="destroyChild()">Destroy Child</button>

<hr />

<h1 #myHeading>Helloooo Sumairrrrrrr....</h1>
<hr />
<app-joke></app-joke>